[Desktop Entry]
Name=Bluish
Comment=A dark theme with blue accents
X-KDE-PluginInfo-Author=svhl
X-KDE-PluginInfo-Name=Bluish
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
